.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Equal width for both containers */
  gap: 10px; /* Space between the two items */
  padding: 10px;
  height: 90vh; /* Full height of the viewport */
  box-sizing: border-box;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  padding: 20px; /* Padding for content */
  overflow: hidden; /* Prevent overflow */
  display: flex; /* Use flexbox to align contents */
  flex-direction: column; /* Stack contents vertically */
  justify-content: center; /* Center contents vertically */
  align-items: center; /* Center contents horizontally */
}

.addItem {
  width: 100%; /* Full width for the form */
  flex-grow: 1; /* Allow it to grow to fill the space */
}

.item2, .item3 {
  height: 100%; /* Full height for the grid items */
}

.addItemFormContainer {
  width: 100%; /* Ensure the form takes full width */
  display: flex;
  flex-direction: column; /* Stack form elements */
}

.formRow {
  width: 100%; /* Full width for form rows */
  display: flex;
  align-items: center; /* Align items in the center */
  margin-bottom: 15px; /* Space between form rows */
}

.buttonBarcode, .addCategoryBtn {
  height: 50px;
  padding: 1px;
}

.submitButton {
  margin-top: 15px; /* Space above the submit button */
}

img {
  max-width: 100%; /* Image will not overflow the container */
  max-height: 100%; /* Image will maintain aspect ratio */
  object-fit: cover; /* Maintain the aspect ratio */
  border-radius: 4px; /* Rounded corners for the image */
}

/* Modal styles for adding a category */
.modal {
  position: fixed; /* Fixed position for modal */
  top: 0; /* Top of the viewport */
  left: 0; /* Left of the viewport */
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex; /* Flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.modal-content {
  background-color: white; /* White background for modal */
  padding: 20px; /* Padding inside the modal */
  border-radius: 8px; /* Rounded corners for modal */
  width: 300px; /* Fixed width for modal */
}
.selectContainer{
  width: 100%
}


.button-group {
  margin-top: 10px;
  justify-content: center;
  display: flex; /* Use flexbox for button alignment */
  gap: 10px; /* Add space between the buttons */
}